<ul>
{{range $.Site.Data.courses.list}}
  <li>
  {{if .page}}
    {{if .language}}
      <a href="{{ref $ (dict "path" .page "lang" .language)}}">
    {{else}}
      <a href="{{ref $ .page}}">
    {{end}}
  {{end}}
  {{.number}} – {{.title}}{{if .page}}</a>{{end}}<br>
  [{{.semester}}, {{.language | default "fr/en"}}]
  {{if .coinstructor}}· <small><em>{{i18n "cotaught" .}}</em></small>{{end}}
  {{if .archive}}· <small><em>{{i18n "archived"}}</em></small>{{end}}
  {{if .details}}<br><small><em>{{.details}}</em></small>{{end}}
  </li> 
{{end}}
</ul>
